#wrap {
    #cabecalho {
        #toolbar{
            height: 30px;
            line-height: 25px;
            border-bottom: 1px solid rgba(66, 66, 66, 0.5);
            background-color: rgba(255, 255, 255, 0.7);
        }
        background: #2c3e50 url("../img/header.png") no-repeat center center;
        height: @cabecalho-height;
        .container > .row {
            position: relative;
        }
        .logo {
            color: #FFF;
            img {
                border: none;
                .center-block();
            }
        }
    }

    #header {
        // background: #FFF;
        background: #f6f8f8;
        border-bottom: 1px solid #CFCFCF;
        padding: 15px 0 5px;
        #parceiros {
            .parceiro {
                .size (232px; 64px);
                display: block;
                margin: 0 auto 10px;
                border: 1px solid #E8E8E8;
                overflow: hidden;
                text-align: center;
                background-color: #111;
                padding: 0;
                span{
                    color: #fff;
                    display: inline-block;
                    font-weight: bold;
                    padding: 2px 0;
                    font-size: 12px;
                }
            }
        }
        #timeline {
            &,
            .jspPane {
                width: 240px !important;
            }
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 14px;
            line-height: 1.428571429;
            display: block;
            border: 1px solid #DDD;
            margin: 0 auto;
            height: 212px;
            background: #FFF;
            position: relative;
            margin-bottom: 10px;
            overflow: hidden;
            overflow-y: auto;
            outline: none;
            // .box-shadow (0px 1px 3px 0px #CCC);
            .box-shadow ( inset 0 0 5px #CCC);
            .border-radius (3px);

            .jspVerticalBar,
            .jspHorizontalBar {
                &, .jspTrack {
                    background: transparent
                }
                .jspTrack {
                    .jspDrag {
                        background: #CCC;
                        .border-radius (4px);
                    }
                    .jspCorner {
                        display: none;
                    }
                }
            }

            .jspVerticalBar {
                width: 8px;
                right: 0px;
            }

            .jspHorizontalBar {
                bottom: 5px;
                .size (100%; 0px);
                .jspTrack,
                .jspDrag {
                    float: left;
                    height: 100%;
                }
            }
            .item {
                border-bottom: 1px solid #EEE;
                clear: both;
                padding: 2px 3px;
                .top {
                    min-height: 18px;
                    font-size: 12px;
                    font-weight: bold;
                    img {
                        margin-right: 5px
                    }
                }
                .title {
                    height: 18px;
                    font-size: 12px;
                    margin: 5px 0;
                    color: #666;
                }
                .footer {
                    height: 16px;
                }
                .category {
                    font-size: 11px;
                    font-weight: bold;
                    float: left;
                }
                .date {
                    font-size: 11px;
                    color:  lighten(#000, 60%);
                    float: right;
                }
            }
        }
    }
}
