// Botões com icone
.btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
    .btn-label {
        position: relative;
        left: -12px;
        display: inline-block;
        padding: 6px 12px;
        background: rgba(0,0,0,0.15);
        .border-radius (3px 0 0 3px);
    }
}

.middle-content {
    padding: 10px;
    background: #FFF;
    .border-radius(4px);
    border:1px solid #DDD;
    .clearfix();
}

// Botão de Upload
.btn-file {
    position: relative;
    overflow: hidden;
    input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        .square (100%;"min");
        font-size: 999px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        background: red;
        cursor: inherit;
        display: block;
    }
}

// Postagem
.post {
    display:block;
    margin: 0 auto 15px auto;
    position: relative;
    overflow: hidden;
    background: #ffffff;
    background: #f5f5f5;
    border: solid 1px #d2d2d2;
    .size (242px; 365px);
    .border-radius (3px);
    .box-shadow ( 0 1px 0 #cfcfcf ) !important;
    .header {
        clear: both;
        height: 34px;
        line-height: 34px;
        display: block;
        // background: #01aad1;
        background: #34495e;
        color: #FFF;
        .category {
            padding: 0px 0px 0px 5px;
            float: left;
            font-size: 16px;
            font-weight: bold;
            color: #FFF;
        }
        .clicks {
            padding: 0px 5px 0px 0px;
            float: right;
            font-size: 16px;
            font-weight: bold;
            width: 80px;
            background: #2c3e50;
            text-align: right;
        }
    }
    .img {
        img {
            &:not(.lazyloaded) {
                display: none;
            }
            &.lazyloaded[src^="data:image/gif;base64"] {
                background: #FFF url(../img/load.gif) no-repeat center center;
            }
            .size (240px; 200px);
            border: 0;
            outline: none;
            background: #FFF;
        }
        .size (240px; 200px);
        display: block;
        border: 0;
        outline: none;
        overflow: hidden;
        background: #FFF url(../img/load.gif) no-repeat center center;
    }
    .footer {
        .title,
        .title :hover {
            outline: none;
            text-decoration: none;
            .size (240px; 90px);
            background: #ffffff;
            word-wrap: break-word;
            text-align: center;
            overflow: hidden;
            display: table-cell;
            vertical-align: middle;
            font-weight: normal;
            font-size: 16px;
            color: #666;
            border-bottom: 1px solid lighten(#95a5a6, 30%);
        }
    }
    .share {
        height: 30px;
        line-height: 35px;
        text-align: center;
    }
}
.social-link (@color) {
    color: @color;
    &:hover,
    &:focus,
    &:active,
    &.active {
        color: darken(@color, 5%);
    }
}
.social-facebook      { .social-link(#3b5998); }
.social-flickr        { .social-link(#ff0084); }
.social-google-plus   { .social-link(#dd4b39); }
.social-instagram     { .social-link(#3f729b); }
.social-tumblr        { .social-link(#2c4762); }
.social-twitter       { .social-link(#55acee); }
.social-rss           { .social-link(#fa9b39); }
