@import "mixins";

@cropper_offset:                                        20px;
@cropper_offset_blur:                    @cropper_offset / 2;
@cropper_offset_border:                  @cropper_offset + 1;

/*---------------------------------------------------------*/
/*  cropper styling begins here...
/*---------------------------------------------------------*/

.cropMain {
    background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAAHnlligAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHJJREFUeNpi+P///5EjRxiAGMgCCCAGFB5AADGCRBgYjh49CiRZIJS1tTWQBAggFBkmBiSAogxFBiCAoHogAKIKAlBUYTELAiAmEtABEECk20G6BOmuIl0CIMBQ/IEMkO0myiSSraaaBhZcbkUOs0HuBwARxT7aD6kRXAAAAABJRU5ErkJggg==') repeat;
    .box-shadow (inset 0 0 6px rgba(0, 0, 0, 0.5));

    .crop-img { position: absolute }

    .crop-container {
        overflow: hidden;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: 999;
            .square(100%);
            .opacity(0.75);
            @shadow: inset 0 0 0 @cropper_offset white, inset 0 0 0 @cropper_offset_border rgba(0,0,0,.1), inset 0 0 @cropper_offset_blur @cropper_offset_border rgba(0,0,0,.2);
           .box-shadow (@shadow);
        }
    }

    .crop-overlay {
        position: relative;
        cursor: move;
        top: 0;
        left: 0;
        .square(100%);
    }
}


/*---------------------------------------------------------*/
/*  slider bar styling
/*---------------------------------------------------------*/

.cropSlider {
     .noUi-target * {
        .box-sizing(border-box);
        -webkit-touch-callout:none;
        -ms-touch-action:none;
        .user-select(none);
        cursor: default;
     }
    .noUi-base {
        margin: 25px 10px;
        height: 7px;
        border-radius: 4px;
        background:#EEE;
        height: 7px;
        .box-shadow(inset 0 0 3px rgba(0,0,0,.15));
        cursor:pointer;
        position:relative;
        z-index: 1;
    }

    .noUi-handle {
        .square(16px);
        background: #fff;
        @shadow: 0 1px 3px rgba(0,0,0,0.4), inset 0 -4px 8px rgba(0,0,0,0.10);
        .box-shadow(@shadow);
        cursor: move;
        border-radius: 4px;
        margin:-5px 0 0 -8px;
    }

    .noUi-background {
        background:#bbb
    }

    .noUi-origin-lower {
        background:#eee;
    }

    .noUi-origin {
        position:absolute;
        right:0;
        top:0;
        bottom:0;
        z-index:0;
        border-radius:inherit;
        background:#EEE;
        height: 7px;
        .box-shadow(inset 0 0 3px rgba(0,0,0,.15));
    }

    .noUi-origin-upper {
        background:inherit!important
    }

    .noUi-z-index {
        z-index:10
    }

    .noUi-vertical {
        .size(40px; 100%);
        .noUi-origin {
            bottom:0;
            left:0;
        }
        .noUi-handle {
            margin:-23px 0 0 -3px
        }
    }

    .noUi-target[disabled] {
        .noUi-base {
            background: #ccc;
            box-shadow: none;
        }
        .noUi-connect {
            background: #ccc;
            box-shadow: none;
        }
    }
    .noUi-state-tap .noUi-origin {
        @transition: left .3s, top .3s;
        .transition(@transition);
    }
}

