html,
body {
    height: 100%;
}

#wrap,
body {
    background-color:#e0e0e0;
    -webkit-font-smoothing: antialiased;
    font: normal 14px Roboto,arial,sans-serif;
    color: #636363;
}

.back-to-top {
    position: fixed;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #999;
    font-size: 20px;
    background-color: rgba(235, 235, 235, 0.80);
    display: none;
    line-height: 48px;
    text-align: center;
    .square(48px);
}

.back-to-top:hover {
    background-color: rgba(135, 135, 135, 0.50);
    color: #000;
}

#wrap {
    min-height: 100%;
    height: auto;
    // Negative indent footer by its height
    margin: 0 auto -60px;
    // Pad bottom by footer height
    padding: 0 0 60px;
    &.affix {
        padding-top:52px;
        position: static;
    }
    #mensagem {
        position: fixed;
        width: 100%;
        z-index: 1029;
        top: -8px;
        &.affix {
            top: 43px;
        }
    }
    #middle {
        margin-top: 10px;
        margin-bottom: 10px;
        .page_title {
            display: block;
            margin-top: 0;
            margin-bottom: 10px;
            font-size: 26px;
            // font-weight: bold;
            border-bottom: 3px double #f6f6f6;
            > span {
                display: inline-block;
                // border-bottom: 6px solid @base_color_estousalvo;
                border-bottom: 5px solid #29a9df;
                display: inline-block;
                padding: 5px 10px;
                margin:0 15px -4px;
            }
        }
        #tabLinks {
            margin-top: -10px;
            margin-bottom: 20px;
            .btn {
                border-top: none;
                .border-top-radius (0);
            }
        }
        #painel-wrap {
            @media (min-width: @screen-md-min) {
                .col-md-9 {
                    padding-left: 15px;
                }
            }
        }
    }
}

#buscar {
    margin-bottom: 10px;
}

/* Adicionar novo Link */
#layCadastroLink {
    #cropbox .cropMain {
        .size (260px; 220px);
        margin: 0 auto;
    }
    #miniaturas {
        max-height: 160px;
        overflow: hidden;
        text-align: center;
        clear: both;
        padding: 0 5px 0 0;
        .crop {
            .square (150px);
            overflow: hidden;
            float: left;
            cursor: pointer;
            margin: 5px 5px 5px 0;
        }
    }
    #preview-pane .preview-container {
        .size (240px; 200px);
        overflow: hidden;
        img {
            .square(auto);
        }
    }
    #imageManipulation {
        display: none;
    }
}

#layPageNovidades {
    article {
        border-bottom: 1px dotted #DDD;
        margin-bottom: 10px;
        &:last-child {
            border-bottom: none;
        }
        header {
            margin-bottom: 10px;
            h1 {
                font-size: 20px;
                color: #111;
                margin: 0;
            }
            > p {
                font-size: 12px;
                color: #999;
                text-align: justify;
            }
        }
        > p {
            overflow: hidden;
            position: relative;
        }
    }
}
