#wrap {
    #menu-topo {
        border-radius: 0;
        border-width: 1px 0 1px 0;
        margin-bottom: 0;
        // background-color:#3498db;
        // border-color:#217dbb;}
        // .navbar-brand {
        //     color:#eeeeee;
        //     &:hover,
        //     &:focus{
        //         color:#ffffff;
        //         background-color:transparent;
        //     }
        // }
        #logo {
            color: #FFF;
            text-decoration: none;
            font-size: 26px;
            font-family: 'Carter One', cursive;
            font-weight: bold;
            line-height: 45px;
            overflow: hidden;
            .size (160px; 45px);
            text-indent:-99999px;
            background: url(../img/logo.png) center center no-repeat;
        }
        .navbar-header #logo{
            display: none;
        }
        &.affix {
            width: 100%;
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 1030;
            .navbar-collapse .navbar-nav.navbar-left:first-child {
                // TODO: Resolve bug, ajustando o menu novamente
                margin-left: -4px;
            }
            .navbar-header #logo{
                display: block;
            }
        }
        .navbar-nav li.adulto{
            background: #c0392b;
            font-weight: bold;
            > a{
                color: #FFF;
            }
        }

        .navbar-form input,
        .form-inline input {
            width:auto;
        }
    }
}
