#footer {
    .likebox {
        .box-shadow (inset 0 0 25px #CCC);
        border:none;
        background:#FFFFFF;
        overflow:hidden;
        height: 240px;
        border:1px solid rgba(0, 0, 0, 0.2);
        .border-radius (3px);
    }
    .menulist {
        margin:0;
        padding: 0;
        list-style: none;
        a {
            color: #ffffff;
            font-size: 14px;
        }
        li {
            margin-bottom:4px;
        }
    }
    padding-top: 20px;
    padding-bottom: 18px;
    background: #34495e;
}
#credit {
    min-height: 60px;
    // background-color: #f5f5f5;
    // border-top: 1px solid #DDD;
    padding-top: 25px;
    padding-bottom: 13px;
    background: #2c3e50;
    p{
        display: inline;
        color: #fff;
        font-size: 12px;
        padding: 0 5px 0 0px;
        a{
            color: #FFF;
        }
    }
    .dev {
        font-weight: bold;
    }
}
