{% extends "home/index.html.twig" %}

{% block header_home %}
<div class="middle-content" id="buscar">
    <form class="buscar-links" role="form">
         <div class="form-group">
            <label for="exampleInputEmail1">Buscar por</label>
            <input type="text" name="buscar" value="{{ _buscar }}" class="form-control" placeholder="Android">
        </div>
         <div class="form-group">
            <label>Categoria</label>
            {{ form_dropdown('categoria', categorias, _buscar_categoria, 'class="form-control" id="selectCategoria"') }}
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Buscar</button>
    </form>
    {% if links is not iterable or links is empty %}
    <div class="text-center">
        <h1>Nenhum resultado encontrado para sua busca:</h1>
        {{ img('public/img/404.jpg') }}
    </div>
    {% endif %}
</div>
{% endblock %}
