{% extends _layout %}
{% block content %}
    <h2 class="page-title">Aviso sobre conteúdo</h2>

    <p>A categoria que você está prestes a abrir possui conteúdo não adequado para menores de 18 anos. Tem certeza de deseja continuar?</p>
    <small class="text-danger">* Apos aceito o aviso nao aparecera mais!</small>
    <br>
    <br>
    <div>
        {{ anchor('conteudo_adulto/ok', 'ESTOU CIENTE E QUERO CONTINUAR', {'class' : 'btn btn-danger'}) }}
        &nbsp;&nbsp;&nbsp;
        {{ anchor('/', 'Não desejo continuar', {'class' : 'btn btn-warning'}) }}
    </div>
{% endblock %}
