{% extends _layout %}
{% import "links/post.html.twig" as post %}
{% block content %}
    {% block header_home %}
    <div class="col-sm-12" id="tabLinks">
        {% set sufix_page = current_categoria ? 'categoria/' ~ current_categoria : '' %}
        <div class="btn-group btn-group-justified">
            {{ anchor('/' ~ sufix_page, 'Mais clicados', {'class' : 'btn btn-block ' ~ (current_page == 'home/index' ? 'btn-primary' : 'btn-default')}) }}
            {{ anchor('ultimos_enviados/' ~ sufix_page, 'Últimos enviados', {'class' : 'btn btn-block ' ~ (current_page == 'home/ultimosenviados' ? 'btn-primary' : 'btn-default')}) }}
        </div>
    </div>
    {% endblock %}
    {% block posts_home %}
    <div class="posts">
        {% if links is iterable %}
            {% for link in links %}
                {{ post.content(link) }}
            {% endfor %}
        {% endif %}
    </div>
    {% endblock %}
    <div class="clearfix"></div>
{{ paginacao ? '<div class="text-center">' ~ paginacao ~ '</div>': '' }}
{% endblock %}
