{% extends _layout %}
{% import "links/post.html.twig" as post %}
{% block content %}
    {% if link %}
    {{ post.content(link) }}
    <div class="col-sx-12 col-lg-9 col-md-8 col-sm-6">
        <h1 style="font-size:26px;margin-top:0;">{{ link.titulo }}</h1>
        <p>{{ link.descricao }}</p>
        <div style="margin:10px 0;">
            {{ anchor('go/' ~ link.slug, 'Ver completo', {'class' : 'btn btn-success btn-block', 'target' : '_blank'}) }}
        </div>
        <div>
            <strong>{{ anchor('categoria/'  ~ link.categoria_slug, link.categoria_nome, {'class' : 'pull-left'}) }}</strong>
            <time class="pull-right small">{{ link.post_date|date('d/m/Y H:i') }}</time>
        </div>
    </div>
    {% endif %}
{% endblock %}
