{% extends _layout %}

{% block content %}
<div class="middle-content">
    <h1 class="page_title"><span>Rankings</span></h1>
    <p class="text-info">* A lista de rankings é atualizada a cada 30 minutos automaticamente.</p>
    <div class="table-responsive">
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th align="center" width="35">Ranking</th>
                    <th width="230"></th>
                    <th>Dados</th>
                </tr>
            </thead>
            <tbody>
                {% if rankings is iterable %}
                    {% for ranking in rankings %}
                        <tr>
                            <td align="center" style="vertical-align:middle">{{ ranking.ranking }}</td>
                            <td align="center" style="vertical-align:middle">{{ anchor('http://' ~ ranking.url, img( {'src' : ranking.site_img, 'height' : 40, 'width' : 230})) }}</td>
                            <td style="vertical-align:middle">
                                <strong>Titulo:</strong>&nbsp;{{ ranking.titulo }}<br>
                                <strong>Endereço:</strong>&nbsp;{{ anchor('http://' ~ ranking.url, ranking.url, 'target="_blank"') }}<br>
                                <strong>Links enviados:</strong>&nbsp;{{ ceil(ranking.links) }}<br>
                                <strong>Cliques recebidos:</strong>&nbsp;{{ ceil(ranking.cliques) }}<br>
                                <strong>Media de cliques por link:</strong>&nbsp;{{ ceil(ranking.cliques / ranking.links) }}<br>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{{ paginacao ? '<div class="text-center">' ~ paginacao ~ '</div>': '' }}
{% endblock %}
