{% extends _painel %}

{% block _content %}
<h2 class="page_title"><span>Novidades</span></h2>
<section id="layPageNovidades">
    {% if posts is iterable %}
       {% for post in posts %}
    <article>
        <header>
            <h1>{{ post.titulo }}</h1>
            <p><span class="fa fa-clock-o"></span> Postado em <time>{{ post.created|date('d/m/Y H:m') }}</time></p>
        </header>
        <p>{{ post.artigo }}</p>
    </article>
        {% endfor %}
    {% endif %}
</section>
<div class="clearfix"></div>
{% endblock %}
