{% extends _painel %}

{% block _content %}
<form action="{{ site_url('painel/configuracoesDaConta') }}" method="post" class="ajaxSubmit" accept-charset="utf-8" role="form">
    <h2 class="page_title"><span>Alterar minha conta</span></h2>
    <div class="form-group">
        <label for="RegistroNome">Nome completo</label>
        <input type="text" value="{{ user.nome }}" class="form-control" id="RegistroNome" name="nome" placeholder="Seu nome completo">
    </div>
    <div class="form-group">
        <label for="RegistroEmail">Email</label>
        <input type="text" value="{{ user.email }}" id="RegistroEmail" class="form-control" name="email" placeholder="nome@dominio.com.br">
    </div>
    <div class="form-group">
        <label for="RegistroUser">Usuário</label>
        <input type="text" value="{{ user.username }}" id="RegistroUser" name="usuario" class="form-control" placeholder="nome_de_usuario">
    </div>
    <button type="submit" class="btn btn-labeled btn-success">
        <span class="btn-label"><i class="fa fa-check"></i></span>Salvar
    </button>
</form>
{% endblock %}
