{% extends _layout %}
{% block content %}
<div class="middle-content">
    <h2 class="page_title"><span>Entrar</span></h2>
    <form action="{{ site_url('/login') }}" method="post" class="ajaxSubmit" accept-charset="utf-8" role="form">
        <div class="form-group">
            <label for="LoginUsername">Usuário ou email</label>
            <input type="text" class="form-control" placeholder="nome@dominio.com.br" id="LoginUsername" name="username">
        </div>
        <div class="form-group">
            <label for="LoginPassword">Senha</label>
            <input type="password" class="form-control" autocomplete="off" placeholder="Senha de acesso" id="LoginPassword" name="password">
        </div>
        <div class="form-group">
            {{ anchor('recuperar_senha', 'Esqueceu a senha?', 'class="btn btn-link"') }}
        </div>
        <button type="submit" class="btn btn-labeled btn-success">
            <span class="btn-label"><i class="fa fa-check"></i></span>Entrar
        </button>
        {{ facebook_login_url is not empty ? anchor(facebook_login_url, '<i class="fa fa-facebook"></i> Logar usando o facebook', 'class="btn btn-facebook btn-social"') : '' }}
    </form>
</div>
{% endblock %}
