{% extends _painel %}

{% block _content %}
<form action="{{ site_url('painel/password') }}" method="post" class="ajaxSubmit" accept-charset="utf-8" role="form">
    <h2 class="page_title"><span>Alterar minha senha</span></h2>
    <div class="form-group">
        <label for="RegistroSenhaAtual">Senha atual</label>
        <input type="password" id="RegistroSenhaAtual" name="senha_atual" class="form-control" placeholder="Senha atual de acesso">
    </div>
    <div class="form-group">
        <label for="RegistroSenha">Senha</label>
        <input type="password" id="RegistroSenha" name="senha" class="form-control" placeholder="Nova senha de acesso">
    </div>
    <div class="form-group">
        <label for="RegistroRepeteSenha">Repita a senha</label>
        <input type="password" id="RegistroRepeteSenha" name="repete_senha" class="form-control" placeholder="Repita sua nova senha de acesso">
    </div>
    <button type="submit" class="btn btn-labeled btn-success">
        <span class="btn-label"><i class="fa fa-check"></i></span>Salvar
    </button>
</form>
{% endblock %}
