{% extends _layout %}
{% block content %}
<div class="middle-content">
    <form action="{{ site_url('/recuperar_senha') }}" method="post" class="ajaxSubmit" accept-charset="utf-8" role="form">
        <h2 class="page_title"><span>Esqueceu sua senha?</span></h2>
        <fieldset class="form-group">
            <label class="control-label" for="RecuperarSenhaEmail">Digite seu e-mail:</label>
            <div class="controls">
                <input type="text" class="form-control" placeholder="nome@dominio.com.br" id="RecuperarSenhaEmail" name="email" autocomplete="on">
            </div>
        </fieldset>
        <div class="separator">
        &mdash;OU&mdash;<br><br>
        </div>
        <fieldset class="form-group">
            <label class="control-label" for="RecuperarSenhaUsuario">Digite seu nome de usuário:</label>
            <div class="controls">
              <span class="input-group">
                <span class="input-group-addon">@</span>
                <input type="text" class="form-control" placeholder="" id="RecuperarSenhaUsuario" name="usuario" autocomplete="on">
              </span>
            </div>
        </fieldset>
        <button type="submit" class="btn btn-labeled btn-success pull-right">
            <span class="btn-label"><i class="fa fa-check"></i></span>Recuperar
        </button>
    </form>
</div>
{% endblock %}
