{% extends _layout %}
{% block content %}
<div class="middle-content">
    <h2 class="page_title"><span>Cadastrar-me</span></h2>
    <form action="{{ site_url('/registro') }}" method="post" class="form-horizontal ajaxSubmit" accept-charset="utf-8" role="form">
        <div class="form-group">
            <label for="RegistroNome">Nome completo</label>
            <input type="text" class="form-control" id="RegistroNome" name="nome" placeholder="Seu nome completo">
        </div>
        <div class="form-group">
            <label for="RegistroEmail">Email</label>
            <input type="text" id="RegistroEmail" class="form-control" name="email" placeholder="nome@dominio.com.br">
        </div>
        <div class="form-group">
            <label for="RegistroUser">Usuário</label>
            <input type="text" id="RegistroUser" name="usuario" class="form-control" placeholder="nome_de_usuario">
        </div>
        <div class="form-group">
            <label for="RegistroSenha">Senha</label>
            <input type="password" id="RegistroSenha" name="senha" class="form-control" placeholder="Senha de acesso">
        </div>
        <div class="form-group">
            <label for="RegistroRepeteSenha">Repita a senha</label>
            <input type="password" id="RegistroRepeteSenha" name="repete_senha" class="form-control" placeholder="Repita sua senha de acesso">
        </div>
        <button type="submit" class="btn btn-labeled btn-success">
            <span class="btn-label"><i class="fa fa-check"></i></span>Cadastrar
        </button>
        {{ facebook_login_url is not empty ? anchor(facebook_login_url, '<i class="fa fa-facebook"></i> Logar usando o facebook', 'class="btn btn-social btn-facebook"') : '' }}
    </form>
</div>
{% endblock %}
