{% extends _layout %}
{% block content %}
<div class="middle-content">
    <form action="{{ site_url('/reset_senha') }}" method="post" class="ajaxSubmit" accept-charset="utf-8" role="form">
        <h2 class="page_title"><span>Cadastrar nova senha</span></h2>
        <fieldset class="form-group">
            <label class="control-label" for="ResetNovaSenha">Nova Senha:</label>
            <div class="controls">
                <input type="password" class="form-control" placeholder="Digite sua nova senha" id="ResetNovaSenha" name="senha" autocomplete="off">
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label class="control-label" for="ResetRepetNovaSenha">Repita Senha:</label>
            <div class="controls">
                <input type="password" class="form-control" placeholder="Repita sua nova senha" id="ResetRepetNovaSenha" name="repete_senha" autocomplete="off">
                <input type="hidden" value="{{ token }}" name="token">
            </div>
        </fieldset>
        <button type="submit" class="btn btn-labeled btn-success pull-right">
            <span class="btn-label"><i class="fa fa-check"></i></span>Resetar
        </button>
    </form>
</div>
{% endblock %}
