{% extends _painel %}

{% block _content %}
<h2 class="page_title"><span>Adicionar novo site</span></h2>

<form action="{{ site_url('painel/addSite') }}" method="post" id="layCadastroSite" name="layCadastroSite" class="ajaxSubmit" accept-charset="utf-8" role="form">
    <div class="form-group">
        <label class="control-label">Titulo</label>
        <input type="text" class="form-control" name="titulo" placeholder="Titulo do seu blog ex.: EstouSalvo">
    </div>
    <div class="form-group">
        <label class="control-label">Endereço</label>
        <input type="text" class="form-control" name="url" placeholder="Endereço do seu site sem www ex.: estousalvo.com.br">
    </div>
    <button type="submit" form="layCadastroSite" class="btn btn-labeled btn-success">
        <span class="btn-label"><i class="fa fa-check"></i></span>Salvar
    </button>
</form>
{% endblock %}
