{% extends _painel %}

{% block _content %}
<h2 class="page_title"><span>Banners</span></h2>
<p>Os banners abaixo foram feitos com um código exclusivo o site <strong>{{ site.titulo }}</strong>. Caso você tenha desenvolvido um banner personalizado adicione este atributo a sua imagem <code>data-estousalvo-token="{{ site.token }}"</code></p>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th width="50">Tamanho</th>
            <th width="468">Banner</th>
            <th>Código</th>
        </tr>
    </thead>
    <tbody>
        {% for banner in banners %}
            {% set banner_size = (banner.size|lower)|split('x') %}
            {% set img = img({'width' :banner_size[0], 'height' : banner_size[1], 'src' : banner.url, 'title' : banner.descricao, 'alt' : banner.descricao, 'data-estousalvo-token' : site.token}) %}
        <tr>
            <td align="center" style="vertical-align:middle">{{ banner.size }}</td>
            <td align="center" style="vertical-align:middle">{{ img }}</td>
            <td align="center" style="vertical-align:middle">
                <textarea class="form-control" rows="3 ">{{ anchor('/', img, {'target' : '_blank', 'title' : banner.descricao})|escape }}</textarea>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
