{% extends _painel %}

{% block _content %}
<h2 class="page_title"><span>Alterar dados do site</span></h2>
<form action="{{ site_url('painel/edit_site/' ~ site.id) }}" method="post" id="layEditaSite" class="ajaxSubmit" accept-charset="utf-8" role="form" enctype="multipart/form-data">
    <div class="form-group">
        <label>Titulo</label>
        <input type="text" class="form-control" value="{{ site.titulo }}" name="titulo" placeholder="Titulo do seu blog ex.: EstouSalvo">
    </div>
    <div class="form-group">
        <label>Endereço</label>
        <input type="text" class="form-control" value="{{ site.url }}" name="url" placeholder="Endereço do seu site sem www ex.: estousalvo.com.br">
    </div>
    <div class="form-group">
        <label>Banner</label>
        <div>
            {{ img(site.site_img) }}
            <span class="btn btn-primary btn-labeled btn-file">
                <span class="btn-label"><i class="fa fa-cloud-upload"></i></span>Mudar banner
                <input type="file" name="banner" />
            </span>
            <div>
                <span class="help-inline small">Dimensões recomendadas de 230 x 40. Tamanho máximo do arquivo é de 700KB</span>
            </div>
        </div>
    </div>
    <input type="hidden" value="{{ site.id }}" name="id">
    <button type="submit" form="layEditaSite" class="btn btn-labeled btn-success">
        <span class="btn-label"><i class="fa fa-check"></i></span>Salvar
    </button>
</form>
{% endblock %}
