{% extends _painel %}

{% block _content %}
<h2 class="page_title"><span>Meus sites</span> {{ anchor('painel/add_site', '<span class="btn-label"><i class="fa fa-plus"></i></span> Adicionar novo site', 'class="btn btn-info btn-labeled pull-right"') }}</h2>
<div class="table-responsive">
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th width="230">#</th>
                <th>Dados</th>
                <th width="100">Status</th>
                <th width="130"></th>
            </tr>
        </thead>
        <tbody>
            {% for site in sites %}
                <tr>
                    <td align="center" style="vertical-align:middle">{{ img({'src' : site.site_img, 'width' : '230', 'height' : '40'}) }}</td>
                    <td style="vertical-align:middle">
                        <strong>Titulo:</strong>&nbsp;{{ site.titulo }}<br>
                        <strong>Token:</strong>&nbsp;{{ site.token }}<br>
                        <strong>Domain:</strong>&nbsp;{{ anchor('http://' ~ site.url, site.url, 'target="_blank"') }}<br>
                    </td>
                    <td align="center" style="vertical-align:middle">
                        {% if site.confirmacao == 0 %}
                            {{ anchor('painel/ativarSite/' ~ site.token, 'Confirmar agora?', 'class="label label-warning"') }}
                        {% elseif site.confirmacao == 1 %}
                            <span class="label label-success">Confirmado</span>
                        {% elseif site.confirmacao == 2 %}
                            <span class="label label-important">Bloqueado</span>
                        {% endif %}
                    </td>
                    <td style="vertical-align:middle;text-align:center;">
                        <a href="{{ site_url('painel/edit_site/' ~ site.id) }}" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Editar site"><span class="fa fa-cog"></span></a>
                        {% if site.published == 1 %}
                            <a href="{{ site_url('painel/toggle_site/' ~ site.id) }}" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Bloquear visualização"><span style="color:#D9534F" class="fa fa-eye-slash"></span></a>
                        {% else %}
                            <a href="{{ site_url('painel/toggle_site/' ~ site.id) }}" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Desbloquear visualização"><span style="color:#5CB85C" class="fa fa-eye"></span></a>
                        {% endif %}
                        <a href="{{ site_url('painel/bannerSite/' ~ site.token) }}" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Banners para este site"><span style="color:#5CB85C" class="fa fa-picture-o"></span></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
