// --------------------- INI Bootstrap --------------------- //
@import "less/lib/bootstrap/bootstrap";       // Bootstrap 3.0.3 - Editar o arquivo variables.less
// Editar linhas 182 = @dropdown-link-hover-color:                            #ffffff;
// Editar linhas 183 = @dropdown-link-hover-bg:                               #428bca;
// Editar linhas 249 = @grid-gutter-width:                                        5px;
// Editar linhas 263 = @navbar-height:                                           50px;
// Editar linhas 641 = @container-large-desktop:      ((1025px + @grid-gutter-width));

// --------------------- INI LIB --------------------- //
@import "less/lib/font-awesome/font-awesome"; // Font Awesome 4.0.1
@import "less/lib/bootstrap-social.less";
@import "less/lib/jquery.jscrollpane.less";

// --------------------- INI Style --------------------- //
@import "less/mixins";
@import "less/variaveis";
@import "less/fonts";
@import "less/class";
@import "less/global";
@import "less/cabecalho";
@import "less/menu";
@import "less/rodape";
