{% extends _layout %}
{% block content %}
<div id="painel-wrap">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-body" style="line-height:70px;">
                {{ img({ 'src' : getGravatar(_CURUSER.email, 70, 'http://placehold.it/70x70'|url_encode), 'style' : 'width: 70px;height: 70px;', 'class' : 'pull-left img-circle'}) }}
                <span style="font-size:14px;font-weight:bold;color#999;padding-left:5px;line-height:18px;">{{ _CURUSER.nome }}</span>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="list-group">
            {{ anchor('page/contato', 'Contato/Sugestões', {'class' : 'list-group-item'}) }}
            {{ anchor('painel/novidades', 'Novidades', {'class' : 'list-group-item'}) }}
            {{ anchor('painel/links', 'Meus links', {'class' : 'list-group-item'}) }}
            {{ anchor('painel/addLink', 'Enviar novo link', {'class' : 'list-group-item'}) }}
            {{ anchor('painel/sites', 'Meus sites', {'class' : 'list-group-item'}) }}
            {{ anchor('painel/addSite', 'Adicionar site', {'class' : 'list-group-item'}) }}
            {{ anchor('painel/configuracoesDaConta', 'Configurações da conta', {'class' : 'list-group-item'}) }}
            {{ anchor('painel/password', 'Mudar senha', {'class' : 'list-group-item'}) }}
        </div>
    </div>
    <div class="col-md-9">
        <div class="middle-content">
            {% block _content %}{% endblock %}
        </div>
        {{ paginacao ? '<div class="text-center">' ~ paginacao ~ '</div>': '' }}
    </div>
</div>
{% endblock %}
