<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        {% block meta -%}
        <meta charset="utf-8">
        <meta name="robots" content="index,follow">
        <meta name="revisit-after" content="1 days">
        <meta name="language" content="pt-br">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="google-site-verification" content="Kg1pfgXqW8SjjeFpnrGfTHcEtXL-g-fq_x2eht3nZJc">
        <meta name="author" content="{{ site_name }}">
        <meta name="generator" content="{{ site_name }}">
        <meta name="keywords" content="">
        <meta name="description" content="{{ site_description }}">
        {% endblock -%}
        <title>{{ title }}</title>
        <link href="{{ base_url('favicon.ico') }}" rel="icon" type="image/x-ico">
        <link href="{{ base_url('favicon.ico') }}" rel="shortcut icon" type="image/x-ico">
        <link href="{{ site_url('rss') }}" rel="alternate" type="application/rss+xml" title="{{ site_name }} - RSS">
        {% block css -%}
        <link href="{{ site_url('public/css/app.min.css?v=' ~ site_version) }}" rel="stylesheet" type="text/css" media="all">
        {% endblock -%}
        {% block style_block %}{% endblock -%}
    </head>
    <body>
        <div id="wrap">
            <div id="cabecalho" class="hidden-xs">
                <div id="toolbar">
                    <div class="container">
                        <div id="social-buttons" class="pull-right hidden-xs">
                            {{ anchor('http://www.facebook.com/estousalvo', '<i class="fa fa-facebook"></i>', {'class' : 'btn btn-social-icon btn-xs btn-facebook', 'target' : '_blank'}) }}
                            {{ anchor('http://twitter.com/_estousalvo', '<i class="fa fa-twitter"></i>', {'class' : 'btn btn-social-icon btn-xs btn-twitter', 'target' : '_blank'}) }}
                            {{ anchor('http://plus.google.com/communities/106012996868668480069', '<i class="fa fa-google-plus"></i>', {'class' : 'btn btn-social-icon btn-xs btn-google-plus', 'target' : '_blank'}) }}
                            {{ anchor('http://feeds.feedburner.com/EstouSalvo', '<i class="fa fa-rss"></i>', {'class' : 'btn btn-social-icon btn-xs btn-rss', 'target' : '_blank'}) }}
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        {#{ anchor('/', img({'src' : 'public/img/header.png', 'class' : 'img-responsive'}), {'class' : 'logo'}) }#}
                    </div>
                </div>
            </div>
            <header id="menu-topo" class="navbar navbar-default navbar-menu-topo">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        {{ anchor('/', site_name, {'id' : 'logo', 'class' : "navbar-brand visible-xs"}) }}
                    </div>
                    <nav class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-left">
                            <li>{{ anchor('/', 'Home') }}</li>
                            <li>{{ anchor('http://blog.estousalvo.com.br', 'Blog', {'target' : '_blank'}) }}</li>
                            <li>{{ anchor('/rankings', 'Rankings') }}</li>
                            {% if menu_categorias is iterable -%}
                                <li> {{ anchor('/', 'Categorias <b class="caret"></b>', {'class' : 'dropdown-toggle', 'data-toggle' : 'dropdown'}) }}
                                    <ul class="dropdown-menu">
                                    {% for categoria in menu_categorias -%}
                                        <li>{{ anchor('/categoria/' ~ categoria.slug, categoria.nome) }}</li>
                                    {% endfor -%}
                                    </ul>
                                </li>
                            {% endif -%}
                            <li>
                                <form class="navbar-form buscar-links">
                                    <input type="text" name="buscar" class="form-control" value="{{ _buscar }}" placeholder="Buscar">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </form>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            {% if not _CURUSER.nome -%}
                                <li>{{ anchor('/painel/add_link', 'Enviar link') }}</li>
                                <li>{{ anchor('/registro', 'Cadastro') }}</li>
                                <li>{{ anchor('/login', 'Entrar') }}</li>
                            {% else -%}
                                <li>{{ anchor('painel/links', '<span class="fa fa-user"></span>&nbsp;Painel de controle <b class="caret"></b>', ' class="dropdown-toggle" data-toggle="dropdown"') }}
                                    <ul class="dropdown-menu">
                                        <li>{{ anchor('/painel/add_link', '<span class="fa fa-link"></span>&nbsp;Enviar link') }}</li>
                                        <li>{{ anchor('/painel/sites', '<span class="fa fa-globe"></span>&nbsp;Meus sites') }}</li>
                                        <li>{{ anchor('/painel/links', '<span class="fa fa-cloud"></span>&nbsp;Meus links') }}</li>
                                        <li class="divider"></li>
                                        <li>{{ anchor('/painel/configuracoesDaConta', '<span class="fa fa-cog"></span>&nbsp;Configurações da conta') }}</li>
                                        <li>{{ anchor('/painel/password', '<span class="fa fa-key"></span>&nbsp;Mudar minha senha') }}</li>
                                        <li class="divider"></li>
                                        <li>{{ anchor('/logout', '<span class="fa fa-sign-out"></span>&nbsp;Sair') }}</li>
                                    </ul>
                                </li>
                            {% endif %}
                            <li class="adulto">{{ anchor('/categoria/adulto', '+18') }}</li>
                        </ul>
                    </nav>
                </div>
            </header><!-- end topo -->

            <div id="header" class="visible-md visible-lg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 visible-md visible-lg">
                            <div class="row" id="parceiros">
                                {#% for visitante in ultimas_visitas -%}
                                    <div class="col-md-4">
                                        {{ anchor(visitante.domain, img({'src' : visitante.imagem, 'alt' : visitante.titulo, 'width' : '230', 'height' : '40', 'title' : visitante.titulo}) ~ '<span>' ~ visitante.total_visitas ~ '</span>', 'class="parceiro" target="' ~ visitante.target ~ '" title="' ~ visitante.titulo ~ '"') }}
                                    </div>
                                {% endfor -%#}
                            </div>
                        </div>
                        <div class="col-md-3 visible-md visible-lg">
                            <div class="scrollable" id="timeline">
                                {% for novo_link in novos_links -%}
                                <div class="item" data-id="{{ novo_link.id }}">
                                    <div class="top">
                                        <img src="http://www.google.com/s2/favicons?domain={{ novo_link.site_url }}" height="16" width="16" />
                                        {{ novo_link.site }}
                                    </div>
                                    <a class="title" target="_blank" href="{{ novo_link.permanlink }}">{{ novo_link.titulo }}</a>
                                    <div class="footer">
                                        <a href="{{ novo_link.categoria_link }}" class="category">{{ novo_link.categoria }}</a>
                                        <time class="date">{{ novo_link.data|date('d/m/Y H:i:s') }}</time>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                {% endfor -%}
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end header -->

            <div id="mensagem">
                <div class="container">
                    <div></div>
                </div>
            </div><!-- end mensagem -->

            <div id="middle" class="container">
            {% block content -%}{% endblock %}
            </div><!-- end middle -->
        </div>
        <span class="back-to-top"><i class="fa fa-chevron-up"></i></span>
        <footer id="footer">
            <div class="container">
                <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Festousalvo&amp;width&amp;height=290&amp;width=1100&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=false&amp;appId=604030859657520" class="col-xs-12 likebox" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            </div>
        </footer>
        <footer id="credit">
            <div class="container">
                <div class="visible-xs text-center">
                    <p class="muted">&copy; EstouSalvo 2013{{ "now"|date('Y') > 2013 ? ' - ' ~ "now"|date('Y') : '' }}</p>
                </div>
                <div class="hidden-xs">
                    <p class="muted text-left pull-left">&copy; EstouSalvo 2013{{ "now"|date('Y') > 2013 ? '&nbsp;-&nbsp;' ~ "now"|date('Y') : '' }}&nbsp;-&nbsp;Todos os direitos reservados. {{ anchor('page/politica_privacidade', 'Política de privacidade') }}</p>
                    <p class="muted text-right pull-right">Desenvolvido por {{ anchor('http://rodolfosilva.com', 'Rodolfo Silva', {class : 'dev', 'target' : '_blank'}) }} | Ilustração por {{ anchor('http://www.ilustradorbrunocastro.com.br', 'Bruno Castro', {class : 'dev', 'target' : '_blank'}) }}</p>
                </div>
            </div>
        </footer>
        {% block script -%}
        <script src="{{ site_url('load/config.js?v=' ~ site_version) }}" type="text/javascript"></script>
        <script src="{{ base_url('public/js/app.min.js?v=' ~ site_version) }}" type="text/javascript"></script>
        <!--[if lt IE 9]>
        <script src="{{ base_url('public/js/html5shiv.js?v=' ~ site_version) }}" type="text/javascript"></script>
        <![endif]-->
        {% endblock -%}
        {% block script_block %}{% endblock -%}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-37550006-2', 'estousalvo.com');
            ga('send', 'pageview');
        </script>
    </body>
</html>
