{% extends _layout %}

{% block content %}
<div class="middle-content">
    <h2 class="page_title"><span>Contato/Sugestões</span></h2>

    <form action="{{ site_url('page/contato') }}" method="post" id="layContato" name="layContato" class="ajaxSubmit" accept-charset="utf-8" role="form">
        <div class="form-group">
            <label>Nome</label>
            <input type="text" class="form-control" name="nome" value="{{ _CURUSER.nome }}" placeholder="Seu nome">
        </div>
        <div class="form-group">
            <label>Assunto</label>
            <input type="text" class="form-control" name="assunto" placeholder="Assunto deste contato">
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email" value="{{ _CURUSER.email }}" placeholder="meuemail@mail.com">
        </div>
        <div class="form-group">
            <label>Mensagem</label>
            <textarea name="mensagem" rows="3" class="form-control" placeholder="Sua mensagem de contato."></textarea>
        </div>
        <button type="submit" form="layContato" class="btn btn-labeled btn-success pull-right">
            <span class="btn-label"><i class="fa fa-check"></i></span>Enviar
        </button>
    </form>
</div>
{% endblock %}
