{% extends _layout %}
{% block content %}
<div class="middle-content text-center">
    <h1>Server Error: 404 (Not Found)</h1>
    {{ img('public/img/404.jpg') }}
    <h2>O que isso significa?</h2>
    <p>Não foi possível encontrar a página que você solicitou em nossos servidores. Sentimos muito sobre isso. A culpa é nossa, não sua.<br>
Talvez você queira ir para a {{ anchor('/', 'página inicial') }}?</p>
</div>
{% endblock %}
