{% extends _painel %}

{% block css %}
    {{ parent() }}
    <link href="{{ base_url('public/css/add_link.min.css?v=' ~ site_version) }}" rel="stylesheet" type="text/css" media="all">
{% endblock %}
{% block script %}
    {{ parent() }}
    <script src="{{ base_url('public/js/add_link.min.js?v=' ~ site_version) }}" type="text/javascript"></script>
{% endblock %}
{% block _content %}
<h2 class="page_title"><span>Enviar novo link</span></h2>
<form action="{{ site_url('links/addNewLink') }}" method="post" id="layCadastroLink" name="layCadastroLink" class="ajaxSubmit" accept-charset="utf-8" role="form" enctype="multipart/form-data">
    <div class="form-group">
        <label for="inpLink">Link do post</label>
        <input name="url" id="inpLink" class="form-control" placeholder="http://domain.com/posts/minha-postagem">
        <span class="help-inline small">Informe o link completo para o conteúdo do blog que deseja sugerir, da forma exata como ele é exibido na barra de endereços do seu navegador.</span>
    </div>
    <div class="form-group">
        <label for="inpTitulo">Publicar</label>
        <div class="input-group date form_datetime" id="inpData">
            <input name="post_date" class="form-control" placeholder="Imediatamente" readonly="">
            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
        </div>
    </div>
    <div class="form-group">
        <label for="inpTitulo">Título do post</label>
        <input name="titulo" id="inpTitulo" class="form-control" placeholder="Minha postagem">
    </div>
    <div class="form-group">
        <label for="selectCategoria">Categoria</label>
        {{ form_dropdown('categoria', categorias, '', 'class="form-control" id="selectCategoria"') }}
    </div>
    <div class="form-group">
        <label for="inpDescricao">Descrição</label>
        <textarea name="descricao" id="inpDescricao" rows="3" class="form-control" placeholder="Breve descrição do seu link."></textarea>
    </div>
    <div class="form-group">
        <label for="inpDescricao">Imagem</label>
        <div>
            <span class="btn btn-info btn-labeled btn-file">
                <span class="btn-label"><i class="fa fa-cloud-upload"></i></span>Carregar imagem local
                <input type="file" id="image_post" accept="image/*" name="image_post" />
            </span>
            <span id="loadImagesUrl" class="btn btn-info btn-labeled">
                <span class="btn-label"><i class="fa fa-cloud-download"></i></span>Carregar imagens do link
            </span>
            <div class="clearfix"></div>
            <p class="help-inline small">
                <div class="small"><strong>*</strong> Os formatos aceitos são: JPG, JPEG e PNG.</div>
                <div class="small"><strong>*</strong> A imagem deve ter relação com o conteúdo.</div>
                <div class="small"><strong>*</strong> A imagem deve ter no mínimo 240x200 pixels.</div>
            </p>
        </div>
    </div>

    <div class="show" id="miniaturas"></div>
    <div class="clearfix"></div>
    <div id="imageManipulation">
        <div class="col-lg-12" id="cropbox">
            <div class="cropMain"></div>
            <div class="cropSlider"></div>
        </div>
        <input name="x" id="inpX" type="hidden">
        <input name="y" id="inpY" type="hidden">
        <input name="h" id="inpH" type="hidden">
        <input name="w" id="inpW" type="hidden">
        <input name="image" id="inpImg" type="hidden">
        <div class="progressUpload progress progress-striped active">
            <div class="progress-bar"  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                <span>0%</span>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <button type="submit" form="layCadastroLink" class="btn btn-labeled btn-success">
        <span class="btn-label"><i class="fa fa-check"></i></span>Enviar
    </button>
</form>
{% endblock %}
