{% extends _painel %}
{% block css %}
    {{ parent() }}
    <link href="{{ base_url('public/css/add_link.min.css?v=' ~ site_version) }}" rel="stylesheet" type="text/css" media="all">
{% endblock %}
{% block script %}
    {{ parent() }}
    <script src="{{ base_url('public/js/add_link.min.js?v=' ~ site_version) }}" type="text/javascript"></script>
{% endblock %}
{% block _content %}
<h2 class="page_title"><span>Editar dados do link</span></h2>
<form action="{{ site_url('links/edit/' ~ id ) }}" method="post" id="layCadastroLink" name="layCadastroLink" class="ajaxSubmit" accept-charset="utf-8" role="form" enctype="multipart/form-data">
    <div class="form-group">
        <label for="inpLink">Link do post</label>
        <input name="url" id="inpLink" class="form-control" value="{{ link.url }}" placeholder="http://domain.com/posts/minha-postagem" readonly="">
        <span class="help-inline small">O link não pode ser alterado.</span>
    </div>
    <div class="form-group">
        {% if date(link.post_date) > date() %}
        <label for="inpTitulo">Publicar</label>
        <div class="input-group date form_datetime" id="inpData">
            <input name="post_date" value="{{ link.post_date|date('d/m/Y H:i') }}" class="form-control" placeholder="Imediatamente" readonly="">
            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
        </div>
        {% else %}
        <label for="inpTitulo">Publicado em </label>
        <input name="post-date" value="{{ link.post_date|date('d/m/Y') ~ ' às ' ~ link.post_date|date('H:i:s') }}" class="form-control" placeholder="Imediatamente" disabled readonly>
        {% endif %}
    </div>
    <div class="form-group">
        <label for="inpTitulo">Título do post</label>
        <input name="titulo" value="{{ link.titulo }}" id="inpTitulo" class="form-control" placeholder="Minha postagem">
    </div>
    <div class="form-group">
        <label for="selectCategoria">Categoria</label>
        {{ form_dropdown('categoria', categorias, link.categoria_id, 'class="form-control" id="selectCategoria"') }}
    </div>
    <div class="form-group">
        <label for="inpDescricao">Descrição</label>
        <textarea name="descricao" id="inpDescricao" rows="3" class="form-control" placeholder="Breve descrição do seu link.">{{ link.descricao }}</textarea>
    </div>
    <div class="clearfix"></div>
    <button type="submit" form="layCadastroLink" class="btn btn-labeled btn-success">
        <span class="btn-label"><i class="fa fa-check"></i></span>Salvar
    </button>
</form>
{% endblock %}
