{% extends _painel %}

{% block _content %}
    <h2 class="page_title"><span>Meus links</span> {{ anchor('painel/add_link', '<i class="btn-label"><i class="fa fa-plus"></i></i> Enviar novo link', {'class' : 'btn btn-info btn-labeled pull-right'}) }}</h2>
    <div class="table-responsive">
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Informações</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for link in links %}
                    <tr>
                        <td align="center" style="vertical-align:middle">
                            <center>{{ link.id }}</center>
                        </td>
                        <td>
                            <strong>Site:&nbsp;</strong>{{ anchor('http://' ~ link.site_url, link.site_titulo, {'target' : '_blank'}) }}<br>
                            <strong>Categoria:&nbsp;</strong>{{ link.categoria_nome }}<br>
                            <strong>Titulo:&nbsp;</strong>{{ link.titulo }}<br>
                            <strong>Cliques:&nbsp;</strong>{{ link.cliques }}<br>
                            <strong>{{ link.post_date <= "now"|date('Y-m-d H:i:s') ? 'Publicado em:' : 'Agendado para:' }}&nbsp;</strong>{{ link.post_date|date('d/m/Y \à\s H:i') }}<br>
                            <strong>Permanlink:&nbsp;</strong>{{ anchor('go/' ~ link.slug, site_url('go/' ~ link.slug), {'target' : '_blank'}) }}
                        </td>
                        <td align="center" style="vertical-align:middle">
                            <center>
                                &nbsp;
                                <a href="{{ site_url('painel/edit_link/' ~ link.id) }}" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Editar link"><span class="fa fa-cog"></span></a>
                                {% if link.published == 1 %}
                                    <a href="{{ site_url('painel/toggle_link/' ~ link.id) }}" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Bloquear visualização"><span style="color:#D9534F" class="fa fa-eye-slash"></span></a>
                                {% else %}
                                    <a href="{{ site_url('painel/toggle_link/' ~ link.id) }}" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Desbloquear visualização"><span style="color:#5CB85C" class="fa fa-eye"></span></a>
                                {% endif %}
                            </center>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
