{% macro content(link) %}
    {% set name = link.image_arquivo ? link.image_arquivo|split('.') : {} %}
    {% if link.image_diretorio and name[0] and name[1] %}
        {% set imagem = link.image_diretorio ~ name[0] ~ '-240x200.' ~ name[1] %}
    {% else %}
        {% set imagem = 'public/img/default-240x200.jpg' %}
    {% endif %}
    <div class="col-sx-12 col-lg-3 col-md-4 col-sm-6">
        <div class="post">
            <div class="header">
                {{ anchor('categoria/' ~ link.categoria_slug, link.categoria_nome, 'class="category"') }}
                <span class="clicks">{{ link.cliques }}</span>
            </div>
             {{ anchor('go/' ~ link.slug, '<img src="data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-original="' ~ base_url(imagem) ~ '" width="240" height="200" alt="' ~ link.titulo ~ '" class="lazy">', {'class' : 'img','target' : '_blank'}) }}
             {#{ anchor('go/' ~ link.slug, '<img src="data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-original="' ~ site_url('/img/thumb/' ~ link.image_md5) ~ '" width="240" height="200" alt="' ~ link.titulo ~ '" class="lazy">', {'class' : 'img','target' : '_blank'}) }#}
            <div class="footer">
                {{ anchor('go/' ~ link.slug, link.titulo, {'class' : 'title', 'target' : '_blank'}) }}
            </div>
            <div class="share">
                <a data-toggle="tooltip" title="Compartilhar no Facebook" href="javascript:estousalvo.openPopUp('http://www.facebook.com/sharer.php?&u={{ site_url('go/' ~ link.slug) }}')" class="btn btn-link btn-xs" target="_blank"><i class="fa fa-facebook social-facebook"></i></a>
                <a data-toggle="tooltip" title="Compartilhar no Twiiter" href="javascript:estousalvo.openPopUp('http://twitter.com/share?url={{ site_url('go/' ~ link.slug) }}&via=_EstouSalvo&text={{ link.titulo|url_encode(true) }}')" class="btn btn-link btn-xs social-twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                <a data-toggle="tooltip" title="Compartilhar no Google+" href="javascript:estousalvo.openPopUp('https://plus.google.com/share?url={{ site_url('go/' ~ link.slug) }}')" class="btn btn-link btn-xs" target="_blank"><i class="fa fa-google-plus social-google-plus"></i></a>
                <a data-toggle="tooltip" title="Link permanente" href="{{ site_url('go/' ~ link.slug) }}" class="btn btn-link btn-xs" target="_blank"><i class="fa fa-chain"></i></a>
                <span data-toggle="tooltip" title="Este conteúdo não é de autoria e responsabilidade do EstouSalvo. Em caso de reclamações, entre em contato diretamente com o proprietário do Blog." class="btn btn-link btn-xs"><i class="fa fa-question"></i></span>
                {#<a href="javascript:estousalvo.openPopUp('/reclamar/38930')" class="btn btn-link btn-xs" target="_blank"><i class="fa fa-times"></i></a>#}
            </div>
        </div>
    </div>
{% endmacro %}
