<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br">
    <head>
        <meta http-equiv="Content-Language" content="pt-br" />
        <meta http-equiv="Content-Type" content="text/html; Charset=utf-8" />
        <title>{{ title }}</title>
        <style type="text/css">
        * {margin:0;padding:0;}
        body, html {height:100%;width:100%;overflow: hidden;}
        </style>
        <meta name="keywords" content="EstouSalvo, agregador de links, indique seu link, notícias, artigos, youtube, curiosidades, tecnologia, esportes, filmes, política, diversão, humor, piadas, vídeos, jogos, mundo, negócios, internet" />
    </head>
    <body>
        <iframe id="frame" src="{{ url }}" width="100%" height="100%" scrolling="auto" frameborder="0" allowtransparency="true" ></iframe>
    </body>
</html>
